<section class="crew-section" id="crew">
  <div class="crew-content-wrap container">
    <h2 class="crew-title">The Astronaut Crew</h2>
    <p class="crew-text">
      You'll never match alone. Your crewmates boost your power — each with
      their own flavor.
    </p>
    <div class="crew-swiper swiper">
      <ul class="crew-swiper-wrapper swiper-wrapper">
        <li class="crew-swiper-slide swiper-slide">
          <img src="./img/crew-avatar-1.png" alt="" class="crew-avatar">
          <h3 class="crew-swiper-title">Catryna:</h3>
          <p class="crew-swiper-text">Tactical navigator — powers up diagonals</p>
        </li>
        <li class="crew-swiper-slide swiper-slide">
          <img src="./img/crew-avatar-2.png" alt="" class="crew-avatar">
          <h3 class="crew-swiper-title">Gorilla the Miner:</h3>
          <p class="crew-swiper-text">Smashes blockers with "banana rage"</p>
        </li>
        <li class="crew-swiper-slide swiper-slide">
          <img src="./img/crew-avatar-3.png" alt="" class="crew-avatar">
          <h3 class="crew-swiper-title">Lamirez</h3>
          <p class="crew-swiper-text">Llama hacker — duplicates boosters</p>
        </li>
        <li class="crew-swiper-slide swiper-slide">
          <img src="./img/crew-avatar-4.png" alt="" class="crew-avatar">
          <h3 class="crew-swiper-title">Beaverson:</h3>
          <p class="crew-swiper-text">Fixes glitch tiles with "hyper chew"</p>
        </li>
      </ul>
    </div>
  </div>
</section>
