<footer class="footer-section">
  <div class="footer-content-wrap container">
    <img class="footer-logo" src="./img/mobile/hero-logo.png" alt="" />
    <div class="footer-content">
      <p class="footer-rights">All rights reserved © match3fa.space | 2025</p>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="./privacy.html" class="footer-link">Privacy Policy <span class="desktop-line">|</span></a>
        </li>
        <li class="footer-list-item">
          <a href="./terms.html" class="footer-link">Terms and Conditions <span class="desktop-line">|</span></a>
        </li>
        <li class="footer-list-item">
          <a href="./cookies.html" class="footer-link">Cookies</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
