<section class="gallery-section" id="gallery">
  <div class="gallery-content-wrap container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper swiper">
      <ul class="gallery-swiper-wrapper swiper-wrapper">
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/gallery-slide-1.png"
            alt="game screenshot"
            class="gallery-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/gallery-slide-2.png"
            alt="game screenshot"
            class="gallery-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/gallery-slide-3.png"
            alt="game screenshot"
            class="gallery-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/gallery-slide-4.png"
            alt="game screenshot"
            class="gallery-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/gallery-slide-5.png"
            alt="game screenshot"
            class="gallery-img"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            src="./img/gallery-slide-6.png"
            alt="game screenshot"
            class="gallery-img"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
