<section class="garage-section" id="garage">
  <div class="garage-content-wrap container">
    <h2 class="garage-title">Space Garage — Boosters & Craftin</h2>
    <p class="garage-text">Craftable Boosters:</p>
    <div class="garage-swiper swiper">
      <ul class="garage-swiper-wrapper swiper-wrapper">
        <li class="garage-swiper-slide swiper-slide">
          <img
            src="./img/garage-planet-1.png"
            alt="planet"
            class="garage-swiper-img"
          />
          <p class="garage-swiper-text">
            Comet Drill - destroys diagonal walls
          </p>
        </li>
        <li class="garage-swiper-slide swiper-slide">
          <img
            src="./img/garage-planet-2.png"
            alt="planet"
            class="garage-swiper-img"
          />
          <p class="garage-swiper-text">
            Quantum Mirror - copies adjacent tile
          </p>
        </li>
        <li class="garage-swiper-slide swiper-slide">
          <img
            src="./img/garage-planet-3.png"
            alt="planet"
            class="garage-swiper-img"
          />
          <p class="garage-swiper-text">
            Supernova Bomb - wipes all of one type
          </p>
        </li>
        <li class="garage-swiper-slide swiper-slide">
          <img
            src="./img/garage-planet-4.png"
            alt="planet"
            class="garage-swiper-img"
          />
          <p class="garage-swiper-text">
            Use "Logic Chips" earned by clean solutions
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
