<section class="hero-section" id="hero">
  <div class="hero-content-wrap container">
    <div class="hero-content">
      <img class="hero-logo" src="./img/mobile/hero-logo.png" alt="" />
      <h1 class="hero-title">
        Your Crew Awaits. <br />
        The Tiles Are Falling.
      </h1>
      <p class="hero-text">
        Join Catryna, Beaverson & Lamirez in a starbound journey of match-3
        mastery. Travel across galaxies, blast through tile clusters, and restore
        logic to the puzzleverse.
      </p>
      <a href="#"
        ><img class="hero-btn" src="./img/mobile/hero-btn.png" alt=""
      /></a>
    </div>
  </div>
</section>
