<section class="progression-section" id="progression">
  <div class="progression-content-wrap container">
    <div class="progression-content">
      <div class="progression-card">
        <img src="./img/progression-avatar-1.png" alt="" class="progression-img">
        <p class="progression-text">200+ puzzles across 9 galaxies</p>
        <img class="progression-arrow" src="./img/p-arrow-1.png" alt="arrow">
      </div>
      <img class="desktop-arrow" src="./img/p-arrow-1.png" alt="arrow">
      <div class="progression-card">
        <img src="./img/progression-avatar-2.png" alt="" class="progression-img">
        <p class="progression-text">Constellation repair quests</p>
        <img class="progression-arrow" src="./img/p-arrow-1.png" alt="arrow">
      </div>
      <img class="desktop-arrow" src="./img/p-arrow-1.png" alt="arrow">
      <div class="progression-card">
        <img src="./img/progression-avatar-3.png" alt="" class="progression-img">
        <p class="progression-text">Random space distortions = variant rules</p>
        <img class="progression-arrow" src="./img/p-arrow-1.png" alt="arrow">
      </div>
      <img class="desktop-arrow" src="./img/p-arrow-1.png" alt="arrow">
      <div class="progression-card">
        <img src="./img/progression-avatar-4.png" alt="" class="progression-img">
        <p class="progression-text">Rewards: Astro Coins, Skins, Logic Chips</p>
      </div>
    </div>
  </div>
</section>
