<section class="rewards-section" id="rewards">
  <div class="rewards-content-wrap container">
    <h2 class="rewards-title">Everything's Free, Even the Fun</h2>
    <p class="rewards-text">Every week: new event = new skin + +2 boosters free</p>
    <p class="rewards-title-list">Craftable Boosters:</p>
    <ul class="rewards-list">
      <li class="rewards-list-item">
        <img src="./img/star.png" alt="" class="rewards-star">
        <p class="rewards-list-text">No ads</p>
      </li>
      <li class="rewards-list-item">
        <img src="./img/star.png" alt="" class="rewards-star">
        <p class="rewards-list-text">No paywalls</p>
      </li>
      <li class="rewards-list-item">
        <img src="./img/star.png" alt="" class="rewards-star">
        <p class="rewards-list-text">All characters & levels unlockable through gameplay</p>
      </li>
      <li class="rewards-list-item">
        <img src="./img/star.png" alt="" class="rewards-star">
        <p class="rewards-list-text">Cosmetic tile sets (neon, retro, glitchcore)</p>
      </li>
      <li class="rewards-list-item">
        <img src="./img/star.png" alt="" class="rewards-star">
        <p class="rewards-list-text">Holographic skins for boosters</p>
      </li>
      <li class="rewards-list-item">
        <img src="./img/star.png" alt="" class="rewards-star">
        <p class="rewards-list-text">Bonus constellation maps</p>
      </li>
    </ul>
  </div>
</section>
