

.header-list {
  display: none;
  @include media(desktop) {
    display: flex;
  }
}


.backdrop {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
  z-index: 1001;
  background: linear-gradient(180deg, #5301cf 0%, #1f013a 100%);
  opacity: 0;
  visibility: hidden;
}