@import './header.scss';
@import './hero.scss';
@import './logic.scss';
@import './crew.scss';
@import './lab.scss';
@import './gallery.scss';
@import './progression.scss';
@import './garage.scss';
@import './signals.scss';
@import './rewards.scss';
@import './footer.scss';
@import './cookies-modal.scss';
@import './cpt.scss';

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    max-width: 1440px;
  }
}

/* === Fonts Setup === */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90deg, #ffea2b 0%, #ffc800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include media(desktop) {
    font-size: 28px;
  }
}

// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Orbitron', sans-serif;
//   font-weight: 700;
// }
